  <div class="row">
    <div class="col-sm-6">
      <h3>ALL PROJECTS</h3>
      <a href="#" title="">Branding</a>
      <a href="#" title="">Art Direction</a>
      <a href="#" title="">Type Design</a>
      <a href="#" title="">Editorial</a>
      <a href="#" title="">Design</a>
      <a href="#" title="">Illustration</a>
      <a href="#" title="">Motion Graphics</a>
    </div> <!-- end col -->
    <div class="col-sm-6">
      <h1>Berkeley Poole is a New York-based Art Director and Designer.</h1>
    </div> <!-- end col -->
  </div> <!-- end row -->


  <div class="row">
    <div class="col-sm-6">
      <a href="#" title="">
        <img src="Downloads/img1.png" alt="" />
      </a>
    </div> <!-- end col -->
    <div class="col-sm-6">
      <a href="#" title="">
        <img src="Downloads/img3.png" alt="" />
      </a>
    </div> <!-- end col -->
  </div> <!-- end row -->
  
  <div class="row">
    <div class="col-sm-6">
      <a href="#" title="">
        <img src="Downloads/img5.png" alt="" />
      </a>
    </div> <!-- end col -->
    <div class="col-sm-6">
      <a href="#" title="">
        <img src="Downloads/img7.png" alt="" />
      </a>
    </div> <!-- end col -->
  </div> <!-- end row -->
    
  <div class="row">
    <div class="col-sm-6">
      <a href="#" title="">
        <img src="Downloads/img9.png" alt="" />
      </a>
    </div> <!-- end col -->
    <div class="col-sm-6">
      <a href="#" title="">
        <img src="Downloads/img11.png" alt="" />
      </a>
    </div> <!-- end col -->
  </div> <!-- end row -->
  
   
  <div class="row">
    <div class="col-sm-6">
      <a href="#" title="">
        <img src="Downloads/img2.png" alt="" />
      </a>
    </div> <!-- end col -->
    <div class="col-sm-6">
      <a href="#" title="">
        <img src="Downloads/img4.png" alt="" />
      </a>
    </div> <!-- end col -->
  </div> <!-- end row -->
  
  <div class="row">
    <div class="col-sm-6">
      <a href="#" title="">
        <img src="Downloads/img6.png" alt="" />
      </a>
    </div> <!-- end col -->
    <div class="col-sm-6">
      <a href="#" title="">
        <img src="Downloads/img8.png" alt="" />
      </a>
    </div> <!-- end col -->
  </div> <!-- end row -->

   <div class="row">
    <div class="col-sm-6">
      <a href="#" title="">
        <img src="Downloads/img10.png" alt="" />
      </a>
    </div> <!-- end col -->
    <div class="col-sm-6">
      <a href="#" title="">
        <img src="Downloads/img12.png" alt="" />
      </a>
    </div> <!-- end col -->
  </div> <!-- end row -->
