<div class="row">
  <div class="col-sm-6" id="projects">
    <!-- dynamically pull projects that fit the respective category -->
    <h3>ALL PROJECTS</h3>
    <ul>
      <li><a href="#" title="">Branding</a></li>
      <li><a href="#" title="">Art Direction</a></li>
      <li><a href="#" title="">Type Design</a></li>
      <li><a href="#" title="">Editorial</a></li>
      <li><a href="#" title="">Design</a></li>
      <li><a href="#" title="">Illustration</a></li>
      <li><a href="#" title="">Motion Graphics</a></li>
    </ul>    
  </div>
  <div class="col-sm-6">
    <p class="lg-p">Berkeley Poole is a Director, Designer and Creative.<p>
  </div>
</div>


<div class="row projects">
  <div class="col-sm-6">
    <a href="#" title="">
      <img src="../Downloads/img1.png" alt="" />
    </a>
  </div> <!-- end col -->
  <div class="col-sm-6">
    <a href="#" title="">
      <img src="../Downloads/img3.png" alt="" />
    </a>
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row projects">
  <div class="col-sm-6">
    <a href="#" title="">
      <img src="../Downloads/img5.png" alt="" />
    </a>
  </div> <!-- end col -->
  <div class="col-sm-6">
    <a href="#" title="">
      <img src="../Downloads/img7.png" alt="" />
    </a>
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row projects">
  <div class="col-sm-6">
    <a href="#" title="">
      <img src="../Downloads/img9.png" alt="" />
    </a>
  </div> <!-- end col -->
  <div class="col-sm-6">
    <a href="#" title="">
      <img src="../Downloads/img11.png" alt="" />
    </a>
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row projects">
  <div class="col-sm-6">
    <a href="#" title="">
      <img src="../Downloads/img2.png" alt="" />
    </a>
  </div> <!-- end col -->
  <div class="col-sm-6">
    <a href="#" title="">
      <img src="../Downloads/img4.png" alt="" />
    </a>
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row projects">
  <div class="col-sm-6">
    <a href="#" title="">
      <img src="../Downloads/img6.png" alt="" />
    </a>
  </div> <!-- end col -->
  <div class="col-sm-6">
    <a href="#" title="">
      <img src="../Downloads/img8.png" alt="" />
    </a>
  </div> <!-- end col -->
</div> <!-- end row -->

<div class="row projects">
  <div class="col-sm-6">
    <a href="#" title="">
      <img src="../Downloads/img10.png" alt="" />
    </a>
  </div> <!-- end col -->
  <div class="col-sm-6">
    <a href="#" title="">
      <img src="../Downloads/img12.png" alt="" />
    </a>
  </div> <!-- end col -->
</div> <!-- end row -->