<h1>The Homey Page</h1>


<div class="section group">
	<div class="col span_1_of_2">
	  <a href="#" title=""> </a>
	  <a href="#" title=""> </a>
	</div>
	<div class="col span_1_of_2">
	  <a href="#" title="">
	    <img src="" alt="" />
	  </a>
	</div>
</div>

<div class="section group">
	<div class="col span_1_of_2">
	  <a href="#" title="">
	    <img src="" alt="" />
	  </a>
	</div>
	<div class="col span_1_of_2">
	  <a href="#" title="">
	    <img src="" alt="" />
	  </a>
	</div>
</div>

<div class="section group">
	<div class="col span_1_of_2">
	  <a href="#" title="">
	    <img src="" alt="" />
	  </a>
	</div>
	<div class="col span_1_of_2">
	  <a href="#" title="">
	    <img src="" alt="" />
	  </a>
	</div>
</div>

<div class="section group">
	<div class="col span_1_of_2">
	  <a href="#" title="">
	    <img src="" alt="" />
	  </a>
	</div>
	<div class="col span_1_of_2">
	  <a href="#" title="">
	    <img src="" alt="" />
	  </a>
	</div>
</div>



