<div class="row">
  
  <div class="col-sm-6">
    <!--NOTHING SHOULD SHOW HERE-->
  </div>
  
  <div class="col-sm-6">
    <p>Berkeley Poole is a New York-based Art Director. Born and raised in Toronto, Poole graduated from York University and Bauhaus University in Weimar, Germany before taking on roles at V Magazine, Visionaire, Laird + Partners, and MTV. Now, aside from her never-ending hunt for the perfect dim sum, Poole brings her wide-ranging talents to Barneys New York as Art Director. Working across print, digital, video, and environmental design, she creates functional and beautiful designs rooted in conceptual, clever, and strategic thought. She has also been featured in The New York Times, Dazed, and Flare’s "Top 30 Under 30" – to name a few.</p>
    
    <div class="services">
       <h3>SERVICES</h3>
        <ul>
          <li>Art Direction</li>
          <li>Branding</li>
          <li>Book Design</li>
          <li>Creative Content</li>
          <li>Editorial Design</li>
          <li>Motion Graphics</li>
          <li>Packaging</li>
          <li>Signage &amp; Wayfinding</li>
          <li>/Type Design</li>
          <li>Web Design</li>
        </ul>
    </div> <!-- end services -->
    
    <div class="social">
      <h3>INSTAGRAM</h3>
      <ul>
        <li class="instagram1">
          <a href="https://www.instagram.com/p/BOL2veKBN0x/" title="Merry Cwismas &amp; graememetcalf" >
            <i class="icon-instagram"></i>
          </a>
        </li>
        <li class="instagram2">
          <a href="https://www.instagram.com/p/BIH3cE3gIH1/" title="Giving me LYFE on mars">
           <i class="icon-instagram"></i>
          </a>
        </li>
        </ul>
    </div> <!-- end social media -->
       
  </div> <!-- end col -->
</div>  <!-- end row -->
