<div class="row">
  <div class="col-md-12">

    <nav class = "navbar navbar-default" role = "navigation">   
       <div class = "navbar-header">
          <a class = "navbar-brand" ui-sref="home">Berkeley Poole</a>
       </div> <!-- end brand -->   
       <div>
          <ul class = "nav navbar-nav">
             <li class = "active"><a ui-sref="home">Home</a></li>
             <li><a ui-sref="profile">Profile</a></li>
             <li><a ui-sref="contact">Contact</a></li>         
          </ul>
       </div> <!-- end hamburger button -->
    </nav>
    
  </div>  <!-- end col -->
</div>  <!-- end row -->

<!--
<div class="row">
  <div class="col-md-12">
      <div class="nav">
          <div>
            <a ui-sref="home" class="logo">Berkeley Poole</a>
          </div>

          <ul>
            <li><a ui-sref="home">Work</a></li>
            <li><a ui-sref="profile">Profile</a></li>
            <li><a ui-sref="contact">Contact</a></li>
          </ul>
      </div> 
   </div> 
</div>
-->
