/* VARIABLES */

/* COLORS ===================== */
@ltbeige: rgb(232, 228, 229);
@dkbeige: rgb(187, 159, 148);
@mdgrey: rgb(156, 159, 160);
@dkgrey: rgb(140, 139, 140);
@black: rgb(15, 15, 15);


/* FONTS ===================== */


/* MIXINS  ===================== */

.links {
  a {
     text-decoration: none;
     a:hover {
       color: @dkbeige;
     }
     a:visited {
        color: @black;
     }
     a:active {
        color: @dkbeige;
    }
  }
}



/* ELEMENTS */

html, body {
  background-color: @ltbeige;	
}


header {
  color: @black;
  .links;
  nav {
    ul {
      list-style-type: none;
      li {
      	padding: 5%;
      	display: inline;
        .links;	
      }
    }
  }
}

h1, h2, h3, h4 {
  color: @black;
  text-transform: uppercase;
}
