/* VARIABLES */
/* COLORS ===================== */
/* FONTS ===================== */
/* MIXINS  ===================== */
.links a {
  text-decoration: none;
}
.links a a:hover {
  color: #bb9f94;
}
.links a a:visited {
  color: #0f0f0f;
}
.links a a:active {
  color: #bb9f94;
}
/* ELEMENTS */
html,
body {
  background-color: #e8e4e5;
}
nav {
  color: #8c8b8c;
  background-color: #e8e4e5;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  padding: 5%;
  display: inline;
}
nav ul li a {
  text-decoration: none;
}
nav ul li a a:hover {
  color: #bb9f94;
}
nav ul li a a:visited {
  color: #0f0f0f;
}
nav ul li a a:active {
  color: #bb9f94;
}
h1,
h2,
h3,
h4 {
  color: #0f0f0f;
  text-transform: uppercase;
}
