// VARIABLES, MIXINS, EC
@ltbeige: rgb(232, 228, 229);  // body
@dkbeige: rgb(187, 159, 148);
@mdgrey: rgb(156, 159, 160);
@dkgrey: rgb(140, 139, 140);
@black: rgb(15, 15, 15);


* {
  outline: 1px dotted blue;
}

.links {
  a {
     color: @black;
     text-decoration: none;
     a:hover {
       color: @dkbeige;
     }
     a:visited {
        color: @black;
     }
    a:active {
      color: @dkbeige;
    }
  }
}

.links2 {
  a {
    color: @dkgrey; 
    text-decoration: none;
     a:hover {
       color: @black;
     }
     a:visited {
        color: @dkgrey;
     }
    a:active {
      color: @black;
    }
  }
}


.lg-p {
  font-size: 2.3em;
  color: @dkbeige;
  padding-top: 5%;
}



//

h1, h2, h3, h4 {
  color: @black;
  text-transform: uppercase;
}



// ELEMENTS

html, body {
  background-color: @ltbeige;	
}

.container-fluid {
  width: 80%;
  margin: 0 auto;
}

#header {
  color: @black;
  padding: 3% 5%;
  .links;
  letter-spacing: .1em;
  #logo {
    font-size: 1.3em;
    margin-left: -5%;
    span {
      color: @dkbeige;
      font-size: .8em;
      text-transform: uppercase;
      margin: 8%;
    }
    ul {
      list-style-type: none;
      li {
        padding: 5%;
        display: inline;
      }
    }
  }
  #nav {
    ul {
      list-style-type: none;
      li {
        padding: 5%;
        display: inline;
        .links;	
        text-transform: uppercase;
        letter-spacing: .1em;
        
      }
    }
  }  
}

#projects {
  h3 {
    color: @black;
    font-size: 1.1em;
  }
  ul {
    font-size: 1.3em;
    li {
      display: block;
      margin-left: -8%;
      padding: .5% 0;
      .links2;
    }   
  } 
}

.projects {
  img {
    width: 100%;
  }
}
