// VARIABLES, MIXINS, EC
@ltbeige: rgb(232, 228, 229);
@dkbeige: rgb(187, 159, 148);
@mdgrey: rgb(156, 159, 160);
@dkgrey: rgb(140, 139, 140);
@black: rgb(15, 15, 15);

.links {
  a {
     text-decoration: none;
     a:hover {
       color: @dkbeige;
     }
     a:visited {
        @black/
     }
  }
}



// ELEMENTS

html, body {
  background-color: @ltbeige;	
}

//.container {
//  width: 70%;
//  margin: 0 auto;
//}

header {
  color: @black;
  .links;
  nav {
    ul {
      list-style-type: none;
      li {
      	padding: 5%;
      	display: inline;
        .links;	
      }
    }
  }
}

h1, h2, h3, h4 {
  color: @black;
  text-transform: uppercase;
}


.content-container {
  width: 75%;
  margin: 0 auto;
  
  .img {
    width: 40%;
    margin: 2%;
  }

}

// RESPONSIVE GRID LAYOUT
// http://www.responsivegridsystem.com/

/*  SECTIONS - splits up page horizontally  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING - solves floating problems */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }



/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}


/// END RESPONSIVE LAYOUT



